<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src='https://cdn.bootcss.com/echarts/3.7.0/echarts.simple.js'></script>
    <script src="http://libs.baidu.com/jquery/1.7.2/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/echarts/4.1.0.rc2/echarts.min.js"></script>
    <script src='../static/echarts-wordcloud.js'></script>

</head>
<body>
    <div id="main" style="width: 100%;height: 900px;"></div>
    <div id="main2" style=" width: 100%;height: 1500px;"></div>
    <div id="main3" style="width: 100%;height: 900px;"></div>
<script type="text/javascript">
    var myChart1=echarts.init(document.getElementById('main2'));
    var myChart = echarts.init(document.getElementById('main'));
    var myChart2=echarts.init(document.getElementById('main3'));
    var app={
        cloud:[],
        xname1:[],
        ynum1:[],
        ynum21:[],
        xtype:[],
        ynum:[]
    };
    $(document).ready(function () {
        getData();

        console.log(app.cloud);
        console.log(app.xname1);
        console.log(app.ynum1);
        console.log(app.ynum21)
    });
    function  getData() {
        $.ajax({
            url:'/chart',
            data:{},
            type:'POST',
            async:false,
            dataType:'json',
            success:function (data) {
                app.xname1 = ['阅片量','类型','Tspdt','加权评分'];
                app.ynum1 = data.ynum;
                app.ynum21 = data.ynum2;
                app.ynum=data.num;
                app.xtype=data.type;
                app.cloud=data.cloud;

                myChart.setOption({
                    title:{
                        text:'类型统计'
                    },
                    tooltip:{},
                    legend:{
                        data:['类型统计']
                    },

                    xAxis:{
                        data:app.xtype
                        ,
                        TextStyle:{
                            fontSize:72
                        }
                    },
                    yAxis:{
                        type:'value'
                    },
                    series:[{
                        name:'数量',
                        type: 'bar',
                        data:app.ynum
                    }]
                });

                var cloud=[];
                for(var i = 0;i<4;i++){
                    cloud.push({
                        name:app.xname1[i],
                        value:app.ynum[i]
                    })
                }
                myChart1.setOption({
                tooltip: {},
                series: [ {
                    type: 'wordCloud',
                    gridSize: 2,
                    sizeRange: [11, 200],
                    rotationRange: [-90, 90],
                    shape: 'pentagon',
                    width: 1200,
                    height: 900,
                    drawOutOfBound: true,
                    textStyle: {
                        normal: {
                            color: function () {
                                return 'rgb(' + [
                                    Math.round(Math.random() * 180),
                                    Math.round(Math.random() * 180),
                                    Math.round(Math.random() * 190)
                                ].join(',') + ')';
                            }
                        },
                        emphasis: {
                            shadowBlur: 10,
                            shadowColor: '#333'
                        }
                    },
                    data: app.cloud
                } ]
            });

                //!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
                //定义一个for循环方便数据在下方引用
                var indicator=[];
                for(var i = 0;i<4;i++){
                    indicator.push({
                        name:app.xname1[i],max:100
                    })
                }
                //!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
                myChart2.setOption({

                    title:{
                        text:'个人观影评分'
                    },
                    tooltip:{},
                    legend:{
                        data:['个人观影评分']
                    },
                    //雷达图样式设计
                    radar:{
                        //标签样式
                        name:{
                            textStyle:{
                                fontSize:36
                            }
                        },
                        //引用定义的for循环引用标签数据xname
                        indicator:indicator
                    },
                    series:[{
                        name:'个人观影评分',
                        type:'radar',
                        //雷达图数值数据导入
                        data:[
                            {
                                value:app.ynum21,
                                name:'个人观影评分'
                            }
                        ]
                    },]
                })
            },
            error:function (msg) {
                console.log(msg);
                alert('系统错误');
            }
        })
    }
</script>
</body>
</html>


