<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            event.preventDefault();
            var source = new EventSource("/progress/{{name}}/");
            source.onmessage = function (event) {
                $('.progress-bar').css('width', event.data + '%').attr('aria-valuenow', event.data);
                $('.progress-bar-label').text(event.data + '%');
                if (event.data == 100) {
                    source.close()
                }
            }

        });
    </script>
    <title>豆瓣个人片单分析</title>
    <meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no">

</head>
<body ms-controller="Douban">
<div class="wrapper">
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">豆瓣个人片单分析</a>
        <a class="navbar-brand" href="http://www.gawain.top">Gawain</a>
    </nav>
    <div ms-visible="@view_data_state == 0">
        <div class="main_container col-lg-8 col-md-12">
            <form id="form" name="form" action="#" method="post">
                <div class="form-group row">
                        <label for="password" class="col-lg-3 col-md-3 label_text"
                               title="用于获取片单域名">豆瓣Id</label>
                        <input type="text" input name="name" value="joke" class="form-control col-lg-8 col-md-12" id="name" ms-duplex="@password"
                               placeholder="注意，不是昵称，是独有域名" title="用于获取片单域名">
                    <label for="password" class="col-lg-3 col-md-3 label_text"
                               title="用于获取片单域名">密码</label>
                        <input type="text" input name="password" value="joke" class="form-control col-lg-8 col-md-12" id="password" ms-duplex="@password"
                               placeholder="" title="用于获取片单域名">

                </div>
                <div :class="['card', 'col-lg-4', 'col-md-10', 'my_card']">
                    <div class="card-body">
                        <p class="card-text">本站已成功帮助{{userNum}}位用户获取数据</p>
                        <p class="card-text">欢迎用户{{nick}}使用</p>

                        <p class="card-text">观影{{num}}</p>

                    </div>
                </div>
                <div :class="['card', 'col-lg-8', 'col-md-12', 'my_card']" ms-visible="@spider_state == 0">
                    <div class="card-body">
                        <h5 class="card-title">用户须知</h5>
                        <h6 class="card-subtitle mb-2 text-muted">请务必完整的阅读</h6>
                        <p class="card-text">此程序为豆瓣个人片单分析</p>
                        <p class="card-text">可以用于对豆瓣个人片单的数据进行备份和可视化</p>
                        <p class="card-text">为保证程序正常运行，只允许最多2位用户同时使用爬虫</p>
                        <p class="card-text">点击下方开始获取后即可开始运行</p>
                        <p class="card-text danger">因涉及大量数据分析，所有数据不得不缓存在服务器上！！！</p>
                        <p class="card-text danger">开发者只能保证不会滥用数据，但无法保证网站不会被攻击</p>
                        <p class="card-text danger">所以为避免造成隐私泄漏，普通用户请在离开网页时点击下方清除缓存！！！</p>
                    </div>
                </div>
                <input type="submit" value="提交" onClick="show();" id="#link">

            </form>

         <div id="xxx" style="display:none" >
            <div  class="spider_phase" ms-visible="@login_state > 1">
                <div class="my_process col-lg-8 col-md-12">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0"
                    aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                    <span class="progress-bar-label">0%</span>
                    </div>
                    <!--ms-for: info in @spider_info-->
                    <p>{$info$}</p>
                    <!--ms-for-end:-->
                    <div class="progress">
                        <div :class="['progress-bar',(@judge_stop_friend_processbar() ? ('progress-bar-animated', 'progress-bar-striped'): 'bg-success')]"
                             role="progressbar"
                             aria-valuemin="0" aria-valuemax="100" :css="{width: @friend_process_width}">
                        </div>
                    </div>
                    <div :class="['card', 'col-lg-6', 'col-md-10', 'tip_card']">
                        <div class="card-body">
                            <h5 class="card-title">小提示</h5>
                            <p class="card-text">{$warm_tip.one$}</p>
                            <p class="card-text">{$warm_tip.second$}</p>
                        </div>
                    </div>
                    <p style="margin-top: 10px"></p>
                    <p></p>
                </div>
                <button type="button" class="btn btn-primary" :click="@stop_spider()" id="stop_spider"
                        title="立即停止爬虫并保存数据"
                        ms-visible="@spider_state==1">
                    停止
                </button>
                <button type="button" class="btn btn-danger" :click="@force_stop_spider()" id="stop_spider"
                        title="强制停止爬虫，不会保存数据"
                        ms-visible="@spider_state==1" style="margin-left: 10px;">
                    强制停止
                </button>
            </div>
            <div id="spider_finish" ms-visible="@spider_state == 2" style="display:none" >
                <div class="col-lg-8 col-md-12" style="margin: 20px auto 50px auto">
                    <p ms-visible="@data_state == 0"> {$clean_data_text$}</p>
                    <a href="/test/{{ name }}">点击此处查看数据分析结果</a>
                    <a href='/download/{{ name }}的片单.xlsx'>下载文件</a>
                </div>
            </div>
         </div>
        </div>
    </div>
    </div>
</div>
</body>
<script type="text/javascript">
    var name="{{ name }}";
    if(name){
    document.getElementById("xxx").style.display="block";
    document.getElementById("spider_finish").style.display="block";
    }
    function show(){
    document.getElementById("xxx").style.display="";
    }
</script>
<script src="../static/constant.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.2.0/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/echarts/3.8.5/echarts.min.js"></script>
<link href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/js-sha1/0.6.0/sha1.min.js"></script>
<script src="https://cdn.bootcss.com/avalon.js/2.2.7/avalon.min.js"></script>
<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<!--<script src="../static/avalon.js"></script>-->
<link href="../static/style.css" rel="stylesheet">
<script src="../static/charts.js"></script>
<script src="../static/script.js"></script>
</html>